.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  border-spacing      : 0;
  margin              : 0;
  padding             : 0;
}

html, body {
  height              : 100%;
}

.grid-container {
  background-image    : url("/public/resources/terrains/tatangel.png");
  background-repeat   : no-repeat;
  background-size     : cover;
  display             : grid;
  gap                 : 10px;
  grid-template-areas :
    "status command command"
    "status enemy enemy"
    "message message message";
  height              : 100vh;
}

.grid-container > div {
  border-radius       : 10px;
  font-size           : 24px;
  padding             : 10px 10px;
}

.window {
  background-color    : black;
  border              : 5px solid white;
  color               : white;
  font-family         : "Lucida Console", "Courier New", monospace;
}

#status {
  grid-area           : status;
}

#command-div {  
  grid-area           : command;
}

#command-table {
  width               : 33%;
}

#fighting {
  background-image    : url("/public/resources/terrains/land.png");
  background-repeat   : no-repeat;
  background-size     : cover;
  grid-area           : enemy;
}

#enemy {
  background-image    : url("/public/resources/enemies/slime.gif");
  background-repeat   : no-repeat;
  background-size     : contain;
  grid-area           : enemy;
  height              : 100%;
  width               : 45%;
  transform           : translate(100%, 0%);
}

#message {
  grid-area           : message;
}
